/* ozh.org stylesheet */

body {
	font-family	: Helvetica, Arial, sans-serif;
	color		: #111;
	background	: #669;
	text-align	: center;
}

#container {
	text-align 	: left;
	margin		:0 auto;
	width 		: 795px;
	padding-top	: 4px;
}

h1 { background:#EEBB00; color:white; font-size:300%; line-height:100%; height:100%; width:100%;}

h2 { background:#A59DDF; color:white; font-size:250%; line-height:100%; height:100%; width:100%;}

h3 { font-size:150%; margin-bottom:20px; }

div.slidebox {
	width: 250px;
	height: 187px;
	position: relative;
	float: left;
	overflow: hidden;
	margin:4px;
	background-color: #8080bf;
}

span.highlight {
	background:#9191d9;
	padding:1px 2px;
}

div.slidebox a, div.slidebox a:visited {
	text-decoration	: none;
	color		: #4D4D73;
}

div.slidebox a:hover {
	text-decoration: underline;
}

div.slidebox h3, div.slidebox h3 a {
	color:white;
}

div.slidebox .slide {
	position: absolute;
	z-index: 2;
	display:block;
	width:100%;
	height:100%;
	cursor:pointer;
}

div.slidebox, div.slidebox .slide, div.slidebox .content {
	-moz-border-radius:9px;
	-khtml-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
}
	
div.slidebox .content {
	position: absolute;
	z-index: 1;
	cursor:default;
}

div.slide {
}

div.slidebox div.content {
	font-size:120%;
	padding: 10px;
	text-align: justify;
	color: white;
}

div.slidebox div.content p.visit a, div.slidebox div.content p.visit a:visited, a.visit, a.visit:visited {
	background: #4D4D73;
	color: white;
	padding: 3px 9px;
	font-weight:bolder;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
	
div.slidebox div.content p.visit a:hover {
	background: #EEBB00;
	color: #666699;
	text-decoration: none;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px;
}

p.visit {
	position:absolute;
	top: 163px;
	font-weight: bold;
}


